.banner {
  background: url("../../images/valorant2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 448px;
  color: #fff;
}

.banner_heading {
  padding: 100px 0 0 30px;
  font-size: 4rem;
  color: white;
  width: 36%;
}

.banner_desc {
  font-size: 2rem;
  width: 36%;
  padding-left: 30px;
}

.banner_button {
  margin: 30px 0 0 30px;
  padding: 5px 10px;
  font-size: 2rem;
  background-color: #fff;
  border: solid 1px #fff;
}
.banner_button:hover {
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
  opacity: 0.75;
}

.banner_lower {
  height: 50px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  background-color: transparent;
}

@media screen and (max-width:1142px){
  
  .banner_heading{
    font-size: 3rem;
  }
  .banner_desc {
    font-size: 1.8rem;
  }
  .banner_button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width:768px){
  .banner{
    height: 300px;
  }
  .banner_heading{
    padding-top: 20px;
    font-size: 2rem;
  }
  .banner_desc {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .banner_button {
    font-size: 1rem;
  }
}